<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Therabot</title>
    <meta name="author" content="Collin Jun">
    <meta name="description" content="Product Page">
    <link rel="stylesheet" type="text/css" href="css/styling.css">
  </head>

  <div class = 'hero'>
    <h1>Therabot</h1>
    <div>Your personal companion therapy robot </div>
    <br><div class="dropdown">
      <button class="dropbtn">Browse</button>
      <div class="dropdown-content">
        <a href="/">Home Page</a>
        <a href="product">About Our Product</a>
        <a href="proposition">Our Proposition</a>
        <a href="team">Meet Our Team</a>
        <a href="assignments">Class Assignments</a>
      </div>
    </div>
  </div>

  <div class='body'>
    <p>This page is designed for ECE 140B-related assignments.</p>
  </div>

  <br><div class='divider'><span>Assignment #4: Product UI</span></div><br>
  <div class = 'body'>
    <h2>Fitt's Law</h2>
    <img src="windows_taskbar.png" alt="Windows 11 Taskbar" width="400" height="120">
    <p>The Windows 11 taskbar is located on the bottom center of the screen, so users know where to click when they want to open or navigate between apps.</p>

    <br><h2>Jacob's Law</h2>
    <img src="microsoft_bing.png" alt="Jacob's Law Example" width="400" height="219">
    <p>Google is the most prominently used search engine, but compitetors provide a similar UI to attract the same customer demographic. For example, Microsoft Bing's search engine functions very similar to that of Google's, providing users with trending searches and a similar design.</p>

    <br><h2>Law of Proximity</h2>
    <img src="canvas_ui.png" alt="Canvas Page" width="400" height="217">
    <p>On the Canvas website, the navigation tools and assignment listings are within close range of each other, making it easy for students to navigate between pages.</p>
  </div>
  </html>