<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Therabot</title>
    <meta name="author" content="Collin Jun">
    <meta name="description" content="Product Page">
    <link rel="stylesheet" type="text/css" href="css/styling.css">
  </head>

  <div class = 'hero'>
    <h1>Therabot</h1>
    <div>Your personal companion therapy robot </div>

    <div class="dropdown">
      <button class="dropbtn">Browse</button>
      <div class="dropdown-content">
        <a href="#">Home</a>
        <a href="#">Product</a>
        <a href="#">Proposition</a>
      </div>
    </div>

  </div>


  <br><div class='divider'><span>About Our Product</span></div>
  <div class='text'><p>Our product, Therabot, is a personal therapy robot that aims to create a social atmosphere and make the customer feel as if they have a close companion at home. Using voice recognition and synthesis, customers will be able to communicate to Therabot and hopefully feel as if they're talking to an actual person instead of a program. Therabot is designed for stay-home workers and students to help them feel connected while being socially distant.</p>
  <p>This product includes:</p>
  <ul>
    <li>Speech recognition and synthesis</li>
    <li>A small display for facial expressions</li>
    <li>Personalized mood tracking</li>
    <li>Customization for its appearance and responses</li>
    <li>And more to come!</li>
  </ul></div>

  <br><div class='divider'><span>Our Proposition</span></div>
  <div class='text'><p>After the pandemic struck the world in 2019, the way people work and study was changed forever. Many workers and students find themselves "social distancing" by working at home with little social contact, and studies have shown that this leads to conditions such as anxiety and depression. Thus, Therabot was created to solve these problems and help the public stay happy while staying home.</p>
  
  <p> Unlike Amazon's Alexa and Google Home, our product aims to be more interactive and personal as our team promises to provide our customers with a companion therapy robot. With Therabot, you can socially distance without feeling the negative effects of anxiety and depression.</p></div>

  <br><div class='divider'><span>Meet Our Team</span></div>
  <div class = 'members'>
    <div>Candelario Caldera</div>
    <div>Collin Jun</div>
    <div>Daniel Kubeck</div>
    <div>Cameron Nazemi</div>
    <div>Baiqiang Zhao</div>
  </div>
</html>