<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BotBuddy</title>
    <meta name="author" content="Collin Jun">
    <meta name="description" content="Product Page">
    <link rel="stylesheet" type="text/css" href="css/styling.css">
  </head>

  <div class = 'hero'>
    <h1>BotBuddy</h1>
    <div>Your personal companion therapy robot </div>
    <br><div class="dropdown">
      <button class="dropbtn">Browse</button>
      <div class="dropdown-content">
        <a href="/">Home Page</a>
        <a href="product">About Our Product</a>
        <a href="proposition">Our Proposition</a>
        <a href="team">Meet Our Team</a>
        <a href="assignments">Class Assignments</a>
      </div>
    </div>
  </div>

  <div class='body'>
    <br><p>Learn more about our product here!</p>
  </div>

  <br><div class='divider'><span>About Our Product</span></div><br>
  <div class='body'><p>Our product, BotBuddy, is a personal therapy robot that aims to create a social atmosphere and make the customer feel as if they have a close companion at home. Using voice recognition and synthesis, customers will be able to communicate to BotBuddy and hopefully feel as if they're talking to an actual person instead of a program. BotBuddy is designed for stay-home workers and students to help them feel connected while being socially distant.</p>
  
  <p>This product includes:</p>
  <ul>
    <li>Speech recognition and synthesis</li>
    <li>A small display for facial expressions</li>
    <li>Personalized mood tracking</li>
    <li>Customization for its appearance and responses</li>
    <li>And more to come!</li>
  </ul>
  </div>

  <br><div class='divider'><span>Information Architecture</span></div><br>
  <div class='body'>
    <p>There isn't much basic information that we expect a typical user to have upon first interacting with BotBuddy. We only expect users to understand how to use our simple mobile app and the limits of speech recognition. Thanks to the hard work of our team, our mobile app is simple and straightforward, and all buttons and functions should be self-explanatory within the interface. As our product uses modern speech recognition, we need users to speak clearly in order for BotBuddy to understand user input, otherwise customers will be unable to recieve proper responses from our product.</p>

    <p>The IA Design Principles from Dan Brown that are important for our product are the Princples of Objects, Choices, and Exemplars. As our product is an interactive device, we want customers to actually feel as if there is life within our product with its own unique "behaviors" and "attributes". Our customers should be able to have a variety of conversational choices, as our product will determine an appropriate response for each of our customers' inputs. As for Exemplars, we want the behavior of BotBuddy to be consistent so customers can constantly rely on it.</p>

    <p>As for structural Organizational Princples, our team values a Sequential and Topical IA structure to provide our customers with the best experience. For our mobile app, our team is developing an organized layout for users to easily configure their BotBuddy. As for the Topical IA, our layout should be consistent with similar mobile apps and websites, so customers can expect where to find information within the app such as user settings.</p>
  </div>

  <br><div class='divider'><span>Product UI Design</span></div><br>
  <div class='body'>
  <img src="app_ui.png" alt="App UI" width="400" height="303">
  <br><img src="product_ui.png" alt="Product UI" width="400" height="148">
  <p>For our product user interface, we aim to have an app that allows users to configure BotBuddy. For example, you can change between several moods so that BotBuddy can perfectly fit our customer's needs. Also, we hope to have cosmetic customization options for our product, so customers can personlize him the way they want.</p></div>

  <br><div class='divider'><span>Product Empathy Map</span></div><br>
  <div class='body'>
  <br><img src="empathy_map.png" alt="Empathy Map" width="400" height="425"></div>

  <br><div class='divider'><span>Top 5 Features</span></div><br>
  <div class='body'>
  <p>Here are the top 5 features of BotBuddy based on user need:</p>
  <ul>
    <li>A display to express BotBuddy's facial expressions for customers that seek a more emotional and interactive experience </li>
    <li>Simple, easy-to-use mobile app that let's our customers configure BotBuddy so that at-home employees and students of all ages can navigate our product</li>
    <li>Advanced speech recognition for ease-of-access for customers can interact with BotBuddy using minimal effort</li>
    <li>Unique speech synthesis that express emotion for customers that desire a human-like interaction in their home or workspace</li>
    <li>Compact and customizable design for customers concerned about BotBuddy's appearance fitting into their home or workspace</li>
  </ul>
  </div>

  <br><div class='divider'><span>Product Interactions</span></div><br>
  <div class='body'>
    <p>Our product interaction mainly includes our mobile app, speech synthesis, and speech recognition. Our mobile app helps customers interact with BotBuddy by configuring its settings such as emotion and type of responses. Our speech synthesis gives BotBuddy a voice and life, making the user feel as if they are speaking to person instead of an actual robot. Unlike other speech synthesis, BotBuddy aims to express emotion when interacting with our customer, such as talking faster and louder when BotBuddy is expressing happiness. Our speech recognition allows for users to interact with BotBuddy using their own voice. BotBuddy will attempt to interpret user input to the best of abilities, and it's quite accurate as long as the user speaks clearly to a certain extent. </p>
  </div>


  <br><div class='divider'><span>Product Costs</span></div><br>
  <div class='body'>
    <p>As of now, our product consists of a Raspberry Pi, speaker, microphone, LED display, and 3D printed casing. With our current design, our raw material cost comes out to be approximately $50. Most of the material cost is from the Raspberry Pi. For our actual product, we would like to use a manufactured chip instead of the Raspberry Pi for reduced raw materials costs. Also, we would switch to laser-cutted plastic shells for BotBuddy after fully finalizing our design. This would reduce the raw material and manufacturing cost to approximately $30.</p>
  </div>

  <br><div class='divider'><span>Revenue Model</span></div><br>
  <div class='body'>
    <p>For our revenue streams, BotBuddy will be sold in retail and in our online store. Our model is a one-time hardware purchase of $89.99 with no paid subscription. Due to the COVID-19 pandemic, there are currently 30 million remote employees and 20 million remote students. We hope to reach out to at least 0.1% of this demographic within our first year of production from both retail and our online store. Thus, this would give us revenue of at least $4.5 million for the first year, which comes out to be $3 million in net profit. </p>
  </div>

  <br><div class='divider'><span>Revenue Model</span></div><br>
  <div class='body'>
    <p>Currently, our target customers are remote employees and students. By adding more features and functionalities to BotBuddy, we can broaden our customer base to all households looking for an at-home companion. For example, similar to Amazon’s Echo, we can have our product keep track of plans and perform online searches for our customers but in a more unique and personal fashion. 

    This pivot for our product is a zoom-out pivot that was discussed in class, where the previous product becomes a feature of a larger vision. It is also a platform pivot where a new context for our product may scale better in a different segment.</p>
  </div>

</html>