<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Therabot</title>
    <meta name="author" content="Collin Jun">
    <meta name="description" content="Product Page">
    <link rel="stylesheet" type="text/css" href="css/styling.css">
  </head>

  <div class = 'hero'>
    <h1>Therabot</h1>
    <div>Your personal companion therapy robot </div>
    <br><div class="dropdown">
      <button class="dropbtn">Browse</button>
      <div class="dropdown-content">
        <a href="/">Home Page</a>
        <a href="product">About Our Product</a>
        <a href="proposition">Our Proposition</a>
        <a href="team">Meet Our Team</a>
        <a href="assignments">Class Assignments</a>
      </div>
    </div>
  </div>

  <div class='body'>
    <p>Learn more about our product here!</p>
  </div>

  <br><div class='divider'><span>About Our Product</span></div><br>
  <div class='body'><p>Our product, Therabot, is a personal therapy robot that aims to create a social atmosphere and make the customer feel as if they have a close companion at home. Using voice recognition and synthesis, customers will be able to communicate to Therabot and hopefully feel as if they're talking to an actual person instead of a program. Therabot is designed for stay-home workers and students to help them feel connected while being socially distant.</p>
  
  <p>This product includes:</p>
  <ul>
    <li>Speech recognition and synthesis</li>
    <li>A small display for facial expressions</li>
    <li>Personalized mood tracking</li>
    <li>Customization for its appearance and responses</li>
    <li>And more to come!</li>
  </ul>
  </div>

  <br><div class='divider'><span>Information Architecture</span></div><br>
  <div class='body'>
    <p>There isn't much basic information that we expect a typical user to have upon first interacting with Therabot. We only expect users to understand how to use our simple mobile app and the limits of speech recognition. Thanks to the hard work of our team, our mobile app is simple and straightforward, and all buttons and functions should be self-explanatory within the interface. As our product uses modern speech recognition, we need users to speak clearly in order for Therabot to understand user input, otherwise customers will be unable to recieve proper responses from our product.</p>

    <p>The IA Design Principles from Dan Brown that are important for our product are the Princples of Objects, Choices, and Exemplars. As our product is an interactive device, we want customers to actually feel as if there is life within our product with its own unique "behaviors" and "attributes". Our customers should be able to have a variety of conversational choices, as our product will determine an appropriate response for each of our customers' inputs. As for Exemplars, we want the behavior of Therabot to be consistent so customers can constantly rely on it.</p>

    <p>As for structural Organizational Princples, our team values a Sequential and Topical IA structure to provide our customers with the best experience. For our mobile app, our team is developing an organized layout for users to easily configure their Therabot. As for the Topical IA, our layout should be consistent with similar mobile apps and websites, so customers can expect where to find information within the app such as user settings.</p>
  </div>

  <br><div class='divider'><span>Product UI Design</span></div><br>
  <div class='body'>
  <img src="app_ui.png" alt="App UI" width="400" height="303">
  <br><img src="product_ui.png" alt="Product UI" width="400" height="148">
  <p>For our product user interface, we aim to have an app that allows users to configure Therabot. For example, you can change between several moods so that Therabot can perfectly fit our customer's needs. Also, we hope to have cosmetic customization options for our product, so customers can personlize him the way they want.</p></div>

  <br><div class='divider'><span>Product Empathy Map</span></div><br>
  <div class='body'>
  <br><img src="empathy_map.png" alt="Empathy Map" width="400" height="425"></div>
</html>