<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Therabot</title>
    <meta name="author" content="Collin Jun">
    <meta name="description" content="Product Page">
    <link rel="stylesheet" type="text/css" href="css/styling.css">
  </head>

  <div class = 'hero'>
    <h1>Therabot</h1>
    <div>Your personal companion therapy robot </div>
    <br><div class="dropdown">
      <button class="dropbtn">Browse</button>
      <div class="dropdown-content">
        <a href="/">Home</a>
        <a href="product">Product</a>
        <a href="proposition">Proposition</a>
      </div>
    </div>
  </div>


  <br><div class='divider'><span>About Our Product</span></div>
  <div class='text'><p>Our product, Therabot, is a personal therapy robot that aims to create a social atmosphere and make the customer feel as if they have a close companion at home. Using voice recognition and synthesis, customers will be able to communicate to Therabot and hopefully feel as if they're talking to an actual person instead of a program. Therabot is designed for stay-home workers and students to help them feel connected while being socially distant.</p>
  <p>This product includes:</p>
  <ul>
    <li>Speech recognition and synthesis</li>
    <li>A small display for facial expressions</li>
    <li>Personalized mood tracking</li>
    <li>Customization for its appearance and responses</li>
    <li>And more to come!</li>
  </ul></div>
</html>