<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Therabot</title>
    <meta name="author" content="Collin Jun">
    <meta name="description" content="Product Page">
    <link rel="stylesheet" type="text/css" href="css/styling.css">
  </head>

  <div class = 'hero'>
    <h1>Therabot</h1>
    <div>Your personal companion therapy robot </div>
    <br><div class="dropdown">
      <button class="dropbtn">Browse</button>
      <div class="dropdown-content">
        <a href="/">Home Page</a>
        <a href="product">About Our Product</a>
        <a href="proposition">Our Proposition</a>
        <a href="team">Meet Our Team</a>
        <a href="assignments">Class Assignments</a>
      </div>
    </div>
  </div>

  <br><div class='divider'><span>Meet The Team</span></div><br>
  <div class = 'members'>
    <div>Candelario Caldera</div>
    <div>Collin Jun</div>
    <div>Daniel Kubeck</div>
    <div>Cameron Nazemi</div>
    <div>Baiqiang Zhao</div>
  </div>
</html>